# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols
/assets/
# pubspec.yaml
# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


#files
360_F_392804645_tUQxo5EgPXvFGxn5OQguX1BiYlI6lCOV.jpg
WhatsApp Image 2024-03-22 at 11.18.36_58e9ba9f.jpg
abstract.txt
collo pitch final draft.docx
methodology and implementation.txt
multinomial_naive_bayes_model.json
new_dataset.xlsx
photos/
post.txt
z_python_nb_model/